# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
# Unless a later match takes precedence,
# a member of the `@JuliaLang/committers-available-to-review` team
# will be requested for review when someone opens a pull request.
*       @JuliaLang/committers-available-to-review

CODEOWNERS @JuliaLang/github-actions
/.github/ @JuliaLang/github-actions
/.buildkite/ @JuliaLang/github-actions

/.github/workflows/rerun_failed.yml @DilumAluthge
/.github/workflows/statuses.yml @DilumAluthge
