CODEOWNERS @JuliaLang/github-actions @DilumAluthge
/.github/ @JuliaLang/github-actions @DilumAluthge
/.buildkite/ @staticfloat @DilumAluthge

/stdlib/LinearAlgebra/ @andreasnoack
/stdlib/libblastrampoline_jll/ @ViralBShah
