CODEOWNERS @JuliaLang/github-actions
/.github/ @JuliaLang/github-actions
/.buildkite/ @JuliaLang/github-actions

/.github/workflows/rerun_failed.yml @DilumAluthge
/.github/workflows/statuses.yml @DilumAluthge
/base/special/ @oscardssmith
/base/sort.jl @LilithHafner
/test/sorting.jl @LilithHafner
/stdlib/*_jll @giordano
/base/binaryplatforms.jl @giordano
/src/julia_gcext.h @fingolfin
/test/gcext/gcext.c @fingolfin
