[submodule "deps/libuv"]
	path = deps/libuv
	url = git://github.com/JuliaLang/libuv.git
[submodule "deps/openlibm"]
	path = deps/openlibm
	url = git://github.com/JuliaLang/openlibm.git
[submodule "deps/openspecfun"]
	path = deps/openspecfun
	url = git://github.com/JuliaLang/openspecfun.git
[submodule "deps/utf8proc"]
	path = deps/utf8proc
	url = git://github.com/JuliaLang/utf8proc.git
