[submodule "deps/libuv"]
	path = deps/libuv
	url = git://github.com/JuliaLang/libuv.git
[submodule "deps/openlibm"]
	path = deps/openlibm
	url = git://github.com/JuliaLang/openlibm.git
[submodule "deps/openspecfun"]
	path = deps/openspecfun
	url = git://github.com/JuliaLang/openspecfun.git
[submodule "deps/Rmath"]
	path = deps/Rmath
	url = git://github.com/JuliaLang/Rmath.git
[submodule "deps/libmojibake"]
	path = deps/libmojibake
	url = git://github.com/JuliaLang/libmojibake.git
