[submodule "deps/libuv"]
	path = deps/libuv
	url = git://github.com/JuliaLang/libuv.git
[submodule "deps/openspecfun"]
	path = deps/openspecfun
	url = git://github.com/JuliaLang/openspecfun.git
[submodule "deps/libmojibake"]
	path = deps/libmojibake
	url = git://github.com/JuliaLang/libmojibake.git
