Jeff Bezanson <bezanson@post.harvard.edu>
Jeff Bezanson <bezanson@mathstation045.mit.edu>
Jeff Bezanson <bezanson@mathstation049.mit.edu>
Jeff Bezanson <bezanson@mathstation186.mit.edu>
Jeff Bezanson <jeff@lagann.(none)>
Jeff Bezanson <bezanson@scooby-doo.csail.mit.edu>
Stefan Karpinski <stefan.karpinski@post.harvard.edu>
Stefan Karpinski <stefan.karpinski@gmail.com>
Viral Shah <viral@mayin.org>
