language: cpp
os:
    - linux
    - osx
env:
  matrix:
    - USEGCC=1
    - USECLANG=1
notifications:
    email: false
    irc:
        channels:
            - "chat.freenode.net#julia"
        on_success: change
        on_failure: always
    webhooks:
        urls:
          - http://status.julialang.org/put/travis
          - http://criid.ee.washington.edu:8000/travis-hook
          - http://julia.mit.edu:8000/travis-hook
before_install:
    - if [ `uname` = "Linux" ]; then
        BUILDOPTS="LLVM_CONFIG=llvm-config-3.3 LLVM_LLC=llc-3.3 VERBOSE=1 USE_BLAS64=0";
        for lib in LLVM ZLIB SUITESPARSE ARPACK BLAS FFTW LAPACK GMP MPFR PCRE LIBUNWIND GRISU OPENLIBM RMATH; do
            export BUILDOPTS="$BUILDOPTS USE_SYSTEM_$lib=1";
        done;
        sudo apt-get update -qq -y;
        sudo apt-get install zlib1g-dev;
        sudo add-apt-repository ppa:staticfloat/julia-deps -y;
        sudo apt-get update -qq -y;
        sudo apt-get install patchelf gfortran llvm-3.3-dev libsuitesparse-dev libopenblas-dev liblapack-dev libarpack2-dev libfftw3-dev libgmp-dev libpcre3-dev libunwind7-dev libdouble-conversion-dev libopenlibm-dev librmath-dev libmpfr-dev -y;
      elif [ `uname` = "Darwin" ]; then
        BUILDOPTS="LLVM_CONFIG=llvm-config-3.3 LLVM_LLC=llc-3.3 VERBOSE=1 USE_BLAS64=0 SUITESPARSE_INC='-I/usr/local/include'";
        BUILDOPTS="$BUILDOPTS LIBBLAS=-lopenblas LIBBLASNAME=libopenblas LIBLAPACK=-lopenblas LIBLAPACKNAME=libopenblas";
        for lib in LLVM ZLIB SUITESPARSE ARPACK BLAS FFTW LAPACK GMP MPFR PCRE LIBUNWIND; do
            export BUILDOPTS="$BUILDOPTS USE_SYSTEM_$lib=1";
        done;
        brew tap staticfloat/julia;
        brew install -v --only-dependencies --HEAD julia;
        brew update;
        brew upgrade gcc;
        make $BUILDOPTS -C contrib -f repackage_system_suitesparse4.make;
      fi
script:
    - make $BUILDOPTS prefix=/tmp/julia install
    - if [ `uname` = "Darwin" ]; then
        for name in spqr umfpack colamd cholmod amd suitesparse_wrapper; do
            install -pm755 usr/lib/lib${name}*.dylib* /tmp/julia/lib/julia/;
        done;
        otool -L /tmp/julia/lib/julia/*;
      fi
    - cd .. && mv julia julia2
    - git config --global user.name "Travis CI"
    - cd /tmp/julia/share/julia/test && /tmp/julia/bin/julia-debug --check-bounds=yes runtests.jl all && /tmp/julia/bin/julia-debug --check-bounds=yes runtests.jl pkg
    - cd - && mv julia2 julia
    - echo "Ready for packaging..."
