<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna.xnecvafxv@cbfg.uneineq.rqh</string>
	<key>contactName</key>
	<string>Stefan Karpinski</string>
	<key>description</key>
	<string>The Julia Mathematical Computing Language</string>
	<key>name</key>
	<string>Julia</string>
	<key>ordering</key>
	<array>
		<string>F5D95417-DF9F-48AD-92DF-21CE62F7C31B</string>
		<string>EA84B6B5-9953-4662-826D-D9068B37C7F6</string>
	</array>
	<key>uuid</key>
	<string>F123BC73-9B19-4E03-847E-D7E47D1931A3</string>
</dict>
</plist>
