
@import url("basic.css");

/* general site formatting */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 11.5pt Georgia, Arial, sans-serif;
}

#site {
  width: 55em;
  text-align: left;
  line-height: 1.5em;
  margin: 3em auto 2em auto;
}
  #site .title {
    font-weight: bold;
    margin-bottom: 2em;
  }
  #site .links {
    text-align: center;
  }
    #site .links a {
      text-decoration: none;
      color: #a00;
    }
    #site .contact a:hover {
      color: black;
    }

.title, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 105%;
}

.title {
  text-align: center;
  font-size: 130%;
}

h1 {
  font-size: 110%;
  padding-top: 1ex;
  margin: 1em 0;
}

h2 {
  padding-top: 1ex;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #00b;
}
  a:visited { color: #88b; }
  a:hover   { color: #008; }

ol {
  margin-left: 2.25em;
}

ul {
  margin-left: 1.8em;
  list-style-type: circle;
}

li {
  margin-top: 0.5em;
}

tt.descname {
    font-size: 100%;
    font-weight: normal;
}

dl dt big, span.optional {
    font-size: 100%;
}

.figure {
  text-align: center;
}
  .figure p.note { font-size: 75%; }

/* inline code and code blocks */

code,tt,pre {
  font: 80% Monaco, 'Courier New', Courier, monospace;
}

pre {
  border: 1px solid #ddd;
  margin: 1em 2em 1em 1.5em;
  padding: .75em 1.25em;
}

.sidebar {
  border: 1px solid #ddd;
  padding: .75em 1.25em;
  line-height: 1.45em;
  margin: 1em 0.5em 1em 0em;
  font-size: 90%;
}

blockquote {
  margin: 1em 2em 1em 1em;
}

.chaplink {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 90%;
}
.prevlink {
  float: left;
}
.nextlink {
  float: right;
}
