/srccache
/Pkg-*
/Pkg
/Statistics-*
/Statistics
/LibCURL-*
/LibCURL
/Downloads-*
/Downloads
/ArgTools-*
/ArgTools
/Tar-*
/Tar
/NetworkOptions-*
/NetworkOptions
/SuiteSparse-*
/SuiteSparse
/SHA-*
/SHA
/*_jll/StdlibArtifacts.toml
/*/Manifest.toml
