Source: julia
Section: mathematics
Priority: extra
Maintainer: Viral B. Shah <viral@mayin.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.julialang.org/
Vcs-Git: git://github.com/JuliaLang/julia.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/julia.git;a=summary

Package: julia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A fresh approach to technical computing.
 Julia is a high-level, high-performance dynamic language for
 technical computing, with syntax that is familiar to users of other
 technical computing environments. It provides a sophisticated
 compiler, distributed parallel execution, numerical accuracy, and an
 extensive mathematical function library. The library, mostly written
 in Julia itself, also integrates mature, best-of-breed C and Fortran
 libraries for linear algebra, random number generation, FFTs, and
 string processing. More libraries continue to be added over time.
 The language is designed around multiple dispatch, giving programs a
 large degree of flexibility. It is ready for use on many kinds of
 problems.
