/*.o
/*.do
/*.exe
/*.obj
/*.lib
/*.pdb
/*.exp

/boot.j.inc
/julia_flisp.boot
/julia_flisp.boot.inc
/flisp.boot.inc

/libjulia-debug.a
/libjulia-debug.so
/libjulia-debug.dylib
/libjulia-release.a
/libjulia-release.so
/libjulia-release.dylib
/julia_version.h
/flisp/host
/support/host
