name: cffconvert

on:
  push:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - CITATION.cff
  pull_request:
    branches:
      - 'master'
      - 'release-*'
    paths:
      - CITATION.cff

permissions:
  contents: read

jobs:
  validate:
    name: "validate"
    runs-on: ubuntu-latest
    steps:
      - name: Check out a copy of the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check whether the citation metadata from CITATION.cff is valid
        uses: citation-file-format/cffconvert-github-action@4cf11baa70a673bfdf9dad0acc7ee33b3f4b6084 # 2.0.0
        with:
          args: "--validate"
